pymupdf
spire.pdf
Spire.Doc
unstructured
pytesseract
pdf2image
pillow_heif
pikepdf
google-cloud-aiplatform
google-api-python-client
langchain 
chromadb==0.3.29
pdfplumber
pdfminer.six 
pypdf
docx
python-docx 
langchain_google_genai
aspose-words
plum-dispatch==1.7.4
opencv-python
unstructured_pytesseract
unstructured_inference
langchainhub
llama-cpp-python
ctransformers
pinecone-client
docx2txt
python-pptx
groq
streamlit
openai
openpyxl
pandas
ipython
langchain-cohere
langchain_openai
nest_asyncio
pyngrok
uvicorn
pyOpenSSL
